body{
    background-color:#803301;
    font-family: "Georgia", serif;
    color:#ffe2c3;
}

h1{
    background-color:#f9636d;
    padding: 15px;
    font-size: 80px;
    margin: 0 0 10px 0; /* top right bottom left*/
    margin-bottom: 0;
}

h2, h4{
    font-size: 25px;
    margin: 0px;
    margin-bottom: 15px;
    margin-left: 5px;
}

h3{
    font-size:30pt;
}

h4{
    margin-top: 10px;
    margin-bottom: 0;
}

div{
    display: flex;
    flex-direction: row;
}
.row{
    display: flex;
    flex-direction: row;
}

.row-title{
    display: flex;
    flex-direction: row;
    flex-grow:1;
}

.column{
    background-color:#ff8a1f;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
}

nav a, h3, nav ul li{
    color: #ffe2c3 ;
}

nav a{
    text-decoration: none;
}

nav ul li{
    font-size: 16px;
    padding: 3px;
}

a:hover{
    color:#c4936b;
}


aside {
  padding: 0 3px 0 3px;
  flex-grow: 1;
  min-width: 250px;
  max-width: 250px;
  background-color:#341e01;
  margin-top: 0;
  margin-left: 0;
  margin-right: 3px;
}

img{
    border-style: dotted;
    border-width: 5px;
    border-color:#fff08a;
    margin: 10px;
    align-self: center;
}

.content {
  display: flex;
  flex-direction: row;
}

h3{
    font-size: 25px;
    text-align: center;
    padding-bottom: 0;
    font-style: italic;
}

p{
    font-size: 20px;
    margin-left: 7px;
    width: 95%;
}

.longlist ul li{
    padding: 4px;
    font-size: 14pt;
}

figcaption{
    font-style: italic;
    font-size: 10pt;
    color:#fff08a;
    margin-top: 0px;
}

.route-img img{
    align-self: center;
}

hr{
    width: 500px;
    border-top-style: solid;
    border-color: #ff8a1f;
    border-width: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-left: 0;
 }

.extra p{
    font-size: 12.5pt;
    font-style: italic;
}

figcaption a{
    color:#fff08a;
}

.form-p p{
    font-size: 20pt;
}

/* "mobile */
@media (max-width: 600px){
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 50pt;
    }

    h2{
        font-size: 15pt;
    }

    .route-img img{
        width: 95%;

    }

    .diagonal-img img, .apple-sign img, .vertical-apples img, .cider img{
        width: 95%;

    }

    .food img, .popcorn img, .donut-line img, .performance img{
        width: 95%;

    }

    .apple-crates img, .vertical-popcorn img, .verticalmac img, .donuts-atmosphere img{
        width: 95%;

    }

    hr{
        width: 300px;
    }

    .longlist ul li{
        font-size: 12pt;
    }

    input{
        margin: 0px 5px 0px 5px;
    }

    .input-style{
        margin-bottom: 20px;
    }

    /* form style */
    label{
        font-size: 14pt;
        margin-bottom: 3px;
    }
    .day-label label, .year-label label, .transport-label label{
        font-size: 14pt;
    }

    .submit #submit {
        font-size: 14pt;
        margin: 0px auto auto 0px;
    }

    .form-p p{
        font-size: 14pt;
    }

    .form-photos figure{
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 900px){
    h1{
        font-size: 65px;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .row {
        display: flex;
        flex-direction: column;
    }

    .route-img img{
        width: 95%;
    }

    .food img, .popcorn img, .donut-line img, .performance img{
        width: 95%;

    }

    .apple-crates img, .vertical-popcorn img, .verticalmac img, .donuts-atmosphere img{
        width: 80%;

    }

    .form-p p{
        font-size: 18pt;
    }

    label{
        margin-bottom: 3px;
    }

    .form-photos figure{
        display: none;
    }
}

@media (min-width: 900px) and (max-width: 1200px){
    p{
        width: 95%;
    }

    h1{
        font-size: 65px;
    }

    .route-img img{
        width: 95%;
    }

    .diagonal-img img, .apple-sign img, .vertical-apples img, .cider img{
        width: 90%;

    }

    .food img, .popcorn img, .donut-line img, .performance img{
        width: 95%;

    }

    .apple-crates img, .vertical-popcorn img, .verticalmac img, .donuts-atmosphere img{
        width: 80%;

    }
}

input{
    margin: 0px 5px 0px 5px; /* top right bottom left */
}

label{
    text-decoration: underline;
    font-size: 18pt;
}


.buttons, .checkbox{
    display: flex;
    flex-direction: column;
}

form{
    margin-left: 7px;
}

div .submit{
    margin-top: 20px;
}

.input-style{
    margin-bottom: 20px;
}

.button-label, .checkbox-label{
    margin-bottom: 3px;
}

.feedback-style{
    color: #f76363;
    margin-bottom: 2px;
}

.hidden{
    display: none;
}

.day-label label, .year-label label, .transport-label label{
    text-decoration: none;
    font-size: 14pt;
}

.submit #submit {
    font-size: 14pt;
    margin: 0px auto auto 0px;
}

.form-photos{
    display: flex;
    flex-direction: column;

}

.form-photos figure{
    margin: 0px;
}
